.loading {
  font-size: 2rem;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  top: 40vh;
  left: 50vw;
  transform: translateX(-50%);
}

.loading::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: calc(100% + 16px);
  width: 100px;
  height: 100px;

  background: url("/pokeball_icon.svg") center / contain no-repeat;
  transform: translateX(-50%);
  animation: spin 1.4s linear infinite;
}

.loading::after {
  content: "";
  animation: dots 3s infinite;
}

@keyframes dots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}

@keyframes spin {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
